<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My to do List</title>
</head>
<p><h1>----TO DO LIST----</h1>
<p><h3>Hi, I am your personal assistant J, nice to see you!</h3>
<body>
<h4>Here is your task list:</h4>
    <ul>
        {% for task in task_list %}
        <li>
            <p>task ID: {{ task["id"] }}
            <p>task description: {{ task["description"] }}
            <p>task category: {{ task["category"] }}
            <p>task status: {{ task["status"] }}

        </li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('add_task')}}" method="post">
    <input type="number" name="id" placeholder="fill in the id here"><input type="text" name="description" placeholder="fill in the description"><input type="text" name="category" placeholder="fill in the category">
    <button type="submit">add a task</button>
    </form>


</body>
</html>